
{{>header}}
{{>navbar}}
<section class="container my-4">
    <div  class="text-right">
        <div class="justify-content-end">
            <a href="" class="btn btn-danger">Delete All Clients</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Current Balance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each allClients}}
                <tr>
                    <td>{{this.accountNum}}</td>
                    <td>{{this.firstName}}{{this.lastName}}</td>
                    <td>{{this.currentBalance}}</td>
                    <td>
                        <a href="/transaction/addBalance/{{this.accountNum}}" class="btn btn-success">AddBalance</a>
                        <a href="/transaction/withdraw/{{this.accountNum}}" class="btn btn-warning">Withdraw Balance</a>
                        <a href="/delete/{{this.accountNum}}" class="btn btn-danger">Delete</a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
{{>footer}}